{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'user/js/list.js' %}"></script>
{% endblock %}
{% block columns %}
<tr>
    <th scope="col">ID</th>
    <th scope="col">Imagen</th>
    <th scope="col">Usuario</th>
    <th scope="col">Nombres</th>
    <th scope="col">Apellidos</th>
    <th scope="col">Correo</th>
    <th scope="col">Registro</th>
    <th scope="col">Sesión</th>
    <th scope="col">Superuser</th>
    <th scope="col">Staff</th>
    <th scope="col">Opciones</th>
</tr>
{% endblock %}
{% block rows %}
{% endblock %}
{% block javascript %}
{% endblock %}