{% extends 'list.html' %}
{% load widget_tweaks %}
{% load static %}
{% block head_list %}
    <script src="{% static 'client/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 5%;">Nro.</th>
        <th scope="col" style="width: 20%;">Nombres</th>
        <th scope="col" style="width: 25%;">Apellidos</th>
        <th scope="col" style="width: 10%;">CI</th>
        <th scope="col" style="width: 15%;">Nacimiento</th>
        <th scope="col" style="width: 10%;">Género</th>
        <th scope="col" style="width: 15%;">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}
{% endblock %}

{% block buttons_list %}
    <button class="btn btn-primary btn-flat btnAdd"><i class="fas fa-plus"></i> Nuevo registro</button>
    <button class="btn btn-success btn-flat btnUpdate"><i class="fas fa-sync"></i> Actualizar</button>
{% endblock %}

{% block javascript %}
    <!-- Modal -->
    <div class="modal fade" id="clientModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <b><i class="fas fa-plus"></i> <span></span></b>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="." enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="container-fluid">
                            <input type="hidden" name="action" value="add">
                            <input type="hidden" name="id" id="id" value="0">
                            {% for field in form.visible_fields %}
                            <div class="form-group">
                                <label for="email">{{ field.label }}</label>
                                {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-flat btn-block">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}