{% extends 'layout.html' %}
{% load widget_tweaks %}
{% block content %}
<form method="post" action=".">
    {% csrf_token %}
    <div class="card">
        <div class="card-header">
            <h5 class="card-title m-0">
                <i class="fas fa-trash"></i>
                {{ subtitle }}
            </h5>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <p class="text-danger">¿Estás seguro que quieres eliminar: <strong>{{ object.name }}</strong>?</p>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-flat"><i class="fas fa-save"></i> Sí, aceptar</button>
            <a href="{{ list_url }}" class="btn btn-secondary btn-flat"><i class="fas fa-undo-alt"></i> Cancelar</a>
        </div>
    </div>
    <!-- /.content -->
</form>
<script>
    $('form').on('submit', function (e) {
        e.preventDefault();
        let parameters = new FormData(this);
        submit_with_ajax(window.location.pathname, 'Confirmación', '¿Estás seguro que quieres eliminar este registro?', parameters, function () {
            location.href = '{{ list_url }}';
        });
    });
</script>
{% endblock %}